{% extends "layout/base.html" %}

{% block contents %}
<div class="row" id="divDataMentor">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Hasil Prediksi</div>
            <div class="card-body">
                {% include "prediksi/pemahaman.html" %}
                <hr/>
                {% include "prediksi/penyampaian_materi.html" %}
                <hr/>
                {% include "prediksi/media_pembelajaran.html" %}
                <hr/>
                {% include "prediksi/suasana_belajar.html" %}
                <hr/>
                {% include "prediksi/tugas.html" %}
                <hr/>
                {% include "prediksi/kehadiran.html" %}
                <hr />
                {% include "prediksi/praktikum.html" %}
                <hr />
                {% include "prediksi/uts.html" %}
                <hr />
                {% include "prediksi/uas.html" %}
                <hr />
                {% include "prediksi/matematika.html" %}
                <hr />
                {% include "prediksi/bindo.html" %}
                <hr />
                {% include "prediksi/bing.html" %}
                <hr />
                {% include "prediksi/rangking_gain.html" %}
                <hr />
                <a href="{{ BASE_URL }}decision-tree" class="btn btn-primary">Lihat pohon keputusan</a>
            </div>
        </div>

    </div>
</div>

<script>
    
</script>

{% endblock contents %}